@import "tailwindcss";

@theme{
   --color-darkblue:#003092;
   --color-gold:#F3C623;
   --color-beige:#015551;
   --color-yellow:#E3DE61;
   --color-check1:#131D4F;
   --color-check2:#C4D9FF;
   --color-brown:#2A4759
   
}
button{
   cursor: pointer;
}
input:focus {
  border-color: rgb(162, 160, 160);
  outline: none; 
}
input{
   background-color:#fff;
}
body{
   background-color:#bae6fd;
}